/**
 * 10-70-10 x 12 = 1080
 */

body {
  margin: 0;
}

.container {
  width: 1080px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background: url("guide-pattern.png");
}

.row::after {
  content: '';
  display: block;
  clear: both;
}

[class*="col-"] {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.col-1 {width: 70px;}
.col-2 {width: 160px;}
.col-3 {width: 250px;}

.push-1 {
  position: relative;
  left: 90px;
}
