body {
  margin: 100px auto;
  width: 650px;
}

.dropcap {
  line-height: 1.5;
}

/*.dropcap .dropcap__first-child {*/
.dropcap::first-letter {
  float: left;
  margin-right: 10px;
  font-size: 40px;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  color: #3fb5c8;
}
