

.container {
  width: 800px;
  margin: 0 auto;
}

.article {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: Helvetica, Arial, Verdana;
  line-height: 1.5;
}

.article__media {
  float: left;
  margin-right: 20px;
}

.article p {
  margin-bottom: 1.5rem;
}
