body {
  margin: 3rem;
}

img {
  vertical-align: top;
}

.image-wrapper {
  width: 200px;
  height: 200px;
  margin: 10px;
  background: #212021;
}

.product-hanger-chip {

}
.product-heart-love {

}
.product-cactus {

}
