/**
 * 스프라이트 아이콘 이미지 별 좌표
 **/
*[class*="sprite-icon-"] {
  display: inline-block;
  background: url("../images/sprites/sprite-image.png") no-repeat;
  vertical-align: -0.125rem;
}

.sprite-icon-reload { background-position: 0px 0px; width: 14px; height: 16px; }
.sprite-icon-chat-double { background-position: -50px 0px; width: 16px; height: 16px; }
.sprite-icon-storage { background-position: -100px 0px; width: 14px; height: 16px; }
.sprite-icon-map { background-position: -150px 0px; width: 13px; height: 16px; }
.sprite-icon-briefcase { background-position: -200px 0px; width: 16px; height: 16px; }
.sprite-icon-quote { background-position: -250px 0px; width: 13px; height: 11px; }
.sprite-icon-navigation-left { background-position: -300px 0px; width: 9px; height: 14px; }
.sprite-icon-navigation-right { background-position: -350px 0px; width: 9px; height: 14px; }
.sprite-icon-heart { background-position: -399px 0px; width: 16px; height: 14px; }
.sprite-icon-ruby { background-position: -450px 0px; width: 16px; height: 14px; }
.sprite-icon-news { background-position: 0px -50px; width: 16px; height: 16px; }
.sprite-icon-twitter-32 { background-position: -51px -52px; width: 32px; height: 26px; }
.sprite-icon-instagram-32 { background-position: -100px -50px; width: 32px; height: 32px; }
.sprite-icon-pinterest-32 { background-position: -150px -50px; width: 26px; height: 32px; }
.sprite-icon-facebook-32 { background-position: -200px -50px; width: 16px; height: 32px; }
.sprite-icon-google-plus-24 { background-position: -250px -50px; width: 20px; height: 20px; }
.sprite-icon-youtube-new-256 { background-position: -300px -50px; width: 20px; height: 14px; }
.sprite-icon-linkedin-32 { background-position: -350px -50px; width: 18px; height: 18px; }
.sprite-icon-vk-32 { background-position: -402px -50px; width: 18px; height: 12px; }
.sprite-icon-twitter-16 { background-position: -451px -52px; width: 18px; height: 14px; }
.sprite-icon-instagram-16 { background-position: 0px -100px; width: 18px; height: 18px; }
.sprite-icon-pinterest-16 { background-position: -50px -100px; width: 14px; height: 18px; }
.sprite-icon-facebook-16 { background-position: -100px -100px; width: 9px; height: 18px; }
.sprite-icon-clock { background-position: -150px -100px; width: 31px; height: 31px; }
.sprite-icon-arrow-ltr { background-position: -200px -100px; width: 32px; height: 25px; }
.sprite-icon-star { background-position: -250px -100px; width: 32px; height: 32px; }
.sprite-icon-compass { background-position: -300px -100px; width: 32px; height: 32px; }
.sprite-icon-instagram-white-16 { background-position: -350px -100px; width: 16px; height: 16px; }
.sprite-icon-logo-nike { background-position: -400px -100px; width: 60px; height: 21px; }
.sprite-icon-logo-boss { background-position: 0px -150px; width: 70px; height: 25px; }
.sprite-icon-logo-converse { background-position: -100px -150px; width: 70px; height: 44px; }
.sprite-icon-logo-adidas { background-position: -200px -150px; width: 51px; height: 50px; }
.sprite-icon-logo-puma { background-position: -300px -150px; width: 70px; height: 35px; }
.sprite-icon-logo-h-and-m { background-position: -400px -150px; width: 60px; height: 39px; }
.sprite-icon-logo-crown { background-position: 0px -200px; width: 66px; height: 56px; }
