@charset "utf-8";
/* my-site.css @ yamoo9.net 2016 */

body {
  width: 800px;
  min-height: calc(100vh - 1.5rem);
  margin: 0 auto;
  padding-top: 1.5rem;
  font: 100%/1.5 Helvetica, Arial, sans-serif;
}

body:hover {
  background-image: linear-gradient(0deg, transparent 97%, #cdcdcd);
  background-size: 24px 24px;
}

h1, h2 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: -0.055em;
  word-spacing: 0.2em;
}

h1 {
  font-weight: 300;
  font-size: 3.5rem;
  line-height: 1.29;
}

h2 {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #ababab;
}

div {
  margin-bottom: 1.5rem;
}

div a {
  position: relative;
  margin-right: 2rem;
  /* solid, dotted, dashed, double, inset, outset */
/*  border-right: 1px solid #cf2f0f;*/
/*  padding-right: 1rem;*/
  text-decoration: none;
  color: #ababab;
  /* background-color: #ff0; */
}

/*div a.no-line {
  border-right: 0;
  border-right: none;
}*/

/*
  가상(유사) 클래스(Pseudo Class)
  First Child => :first-child
  Last Child => :last-child
  1st, 2nd, 3rd, 4th, 5th, 6th, ...., nth
  몇 번째 자식을 찾을 때는?
  :nth-child(2)
  :nth-child(3)
*/
div a:last-child {
  margin-right: 0;
  border-right: 0; /* none */
  padding-right: 0;
}

/*div a:nth-child(1) { color: #7FFFD4; }*/
/*div a:nth-child(2) { color: #00CED1; }*/
/*div a:nth-child(3) { color: #FF7F50; }*/
/*div a:nth-child(4) { color: #D2691E; }*/

div a:nth-child(even) { color: #00CED1; }
div a:nth-child(odd) { color: #FF7F50; }

/*
상태(state) 디자인
기본 상태 (:link)
마우스가 올라간 상태 (:hover)
*/
div a:hover {
  color: #313131;
}

div a:focus {
  outline: 0.1875rem solid #313131;
  outline-offset: 0.25rem;
}

div a:active {
  outline: none;
}

h1 span, h2 span {
  color: #FF6347;
}

h1 span {font-weight: 300;}
h2 span {font-weight: 700;}

/*
가상 요소(pseudo Element)
::before
::after
*/

div a::after {
  position: absolute;
  right: -1.4rem;
  top: -3px;
  content: ' /';
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  color: #D2D2D2;
}

div a:last-child::after {
  content: '';
}
