@charset "utf-8";
/**
 * --------------------------------
 * 스타일 모듈 호출
 */
@import "type-grid.css";
/**
 * --------------------------------
 * 페이지 스타일
 */

body {
  background: #fff;
  color: #615282;
}

.page {

}

.page-header {
  background: #8e44ad;
  height: 7.5rem; /* 1.5 x 4 */
}

.brand {
  margin-top: 2.5rem;
  margin-bottom: 0;
}

.brand a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: 100;
}

.brand img {
  vertical-align: middle;
}

.gnb {
  /*background: #eee;*/
  border-bottom: 1px solid #8e44ad;
}

.gnb ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.gnb a {
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: center;
  text-decoration: none;
  color: #8e44ad;
}

main {
  /*height: 40rem;*/
  padding-top: 3rem;
}

main .coffee-bitter-taste {
  margin-top: 1.5rem;
}

main .coffee-title {
  color: #8e44ad;
}
