body {
  margin: 0;
}

hr {
  margin: 20px 0;
  border: 0;
  border-bottom: 1px solid #c2d6d1;
}

.wrapper {
  width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.block-box,
.inline-box {
  /* width, height 속성은 inline 요소에는 적용되지 않는다. */
  width: 200px;
  height: 100px;
  /* margin-top, margin-bottom 은 inline 요소에는 적용되지 않습니다. (간격이 벌어지지 않는다) */
  margin: 10px;
  /* border-top, border-bottom 은 inline 요소에는 적용되지 않습니다. (간격이 벌어지지 않는다) */
  border: 10px solid hsla(45, 75%, 64%, 0.3);
  /* padding-top, padding-bottom 은 inline 요소에는 적용되지 않습니다. (간격이 벌어지지 않는다) */
  padding: 25px;
  background: hsla(21, 55%, 52%, 0.3);
  color: #fff;
}
