/**
 * --------------------------------
 * #48cfec
 * #35a8c0
 * #1c7487
 * #25c2b9
 * #bbd76e
 */

body {
  margin: 0;
}

.page-header {
  height: 200px;
  background: #48cfec;
}

.logo {
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  background: #bbd76e;
  color: #fff;
  font-weight: normal;
}

.navigation {
  height: 100%;
  background-color: #1c7487;
  color: #fff;
  font-size: 2rem;
}

.utils {
  height: 100%;
  background-color: #180B74;
  color: #fff;
  font-size: 2rem;
}

.page-main {
  height: calc(100vh - 200px - 100px);
  background: #35a8c0;
  color: #fff;
  font-size: 2rem;
}

.article {
  height: 100%;
  background: #B15636;
  color: #fff;
  font-size: 2rem;
}

.article:last-child {
  background-color: #A0205B;
}

.page-aside {
  height: calc(100vh - 200px - 100px);
  background: #bbd76e;
  color: #fff;
  font-size: 2rem;
}

.page-footer {
  height: 100px;
  background: #25c2b9;
  color: #fff;
  font-size: 2rem;
}

.center-pos {
  display: flex;
  justify-content: center;
  align-items: center;
}
