body {
    /* 공간 초기화 */
    margin: 0;
}

p {
    /* 너비 */
    width: 500px;
    /* 높이 */
    height: 200px;
    /* 눈에 보이지 않는 투명 외부 공간 영역 */
    margin-top: 0;
    margin-bottom: 20px;
    /* 패딩(안쪽 공간) */
    padding: 10px;
    /* 배경색 */
    background-color: #FB8A89;
}