@charset "UTF-8";
/*! style.css © yamoo9.net, 2016 */

/**
 * ------------------------------------------
 * 오래된 브라우저 사용자에게 최신 브라우저 업데이트 알림
 * ------------------------------------------ */
.notification-for-old-browser-user {
  margin: 0;
  padding: 1em 0;
  border-bottom: 1px solid #979793;
  background-color: #64646d;
  color: #dbdbe5;
}
.notification-for-old-browser-user img {
  float: left;
  margin-top: -5px;
  margin-right: 20px;
  /* margin-left: 20px; */
  vertical-align: top;
}
.notification-for-old-browser-user a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/**
 * --------------------------------
 * UB OneQ 컬러 세트
 * --------------------------------
 * #63636c
 * #85efff
 * #479dd7
 * #272d32
 * #f9f9f9
 * #4e575f
 * #4393c9
 * #54555f
 * #ebf3f9
 * #9d9fa5
 * #54545e
 * #e5e9ec
 * ----------------------------- */


/**
 * --------------------------------
 * 사용자 인터페이스(UI) 디자인
 * ----------------------------- */
::-moz-selection {
  background: #63636c;
  color: #fff;
}
::selection {
  background: #63636c;
  color: #fff;
}

.unselect {
  -webkit-user-select: none;
  user-select: none;
}

/**
 * --------------------------------
 * 페이지 디자인
 * ----------------------------- */
body {
  font-family: "Noto Sans KR", "Nanum Gothic", Dotum, sans-serif;
  font-weight: 300;
}

/**
 * --------------------------------
 * 헤더 디자인
 * ----------------------------- */
.page-header {
  background-color: #63636c;
}
.page-header .brand {
  margin-bottom: 20px;
  margin-top: 20px;
}
.page-header .brand a {
  display: block;
}
.ir {
  overflow: hidden;
  text-indent: -9999em;
}

/**
 * --------------------------------
 * .navi
 * ----------------------------- */
.navi {
  margin-top: 36px;
}
.navi ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
.navi li {
  text-align: center;
}
.navi a {
  display: block;
  text-decoration: none;
  color: #fafafa;
  padding-bottom: 10px;
}
.navi a:hover {
  border-bottom: 2px solid #b7b7cc;
  color: #b7b7cc;
}
.navi a.active {
  border-bottom: 2px solid #fff;
  color: #fafafa;
}
.navi li:last-child a {
  color: #85efff;
}
.navi li:last-child a:hover,
.navi li:last-child a.active {
  border-bottom-color: #85efff;
}

/**
 * --------------------------------
 * 배너 디자인
 * ----------------------------- */
.banner {
  height: 810px;
  background: url("../images/slider-bg.jpg") no-repeat center -90px;
  background-size: cover;
  letter-spacing: -0.01em;
}

.banner-headline {
  width: 286px;
  height: 51px;
  padding-top: 232px;
  background: url("../images/Headline-UB-OneQ.png") no-repeat left bottom;
  margin-bottom: 70px;
}

.banner-message {
  font-size: 48px;
  font-weight: 100;
  line-height: 1.354166667;
  color: #272d32;
}

.banner-button {
  border: none;
  padding: 1.58em 2.85em;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 400;
  background: #479dd7;
  color: #fff;
  margin-top: 8px;
  transition: transform 0.3s, box-shadow 0.2s 0.15s;
}

.banner-button:hover {
  background: #57a9ec;
  box-shadow: 0px 3px 5px 2px hsla(0,0%,0%,.25);
  transform: scale(1.04);
}

/**
 * --------------------------------
 * 고 해상도 대응 처리 방법
 * ----------------------------- */
/* CSS3 미디워쿼리 활용 - 레티나 디스플레이 대응 */
/*
 * 고해상도 디스플레이(@2x)
 */
@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 30em),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 30em),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 30em),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 30em),
only screen and (                min-resolution: 192dpi) and (min-width: 30em),
only screen and (                min-resolution: 2dppx)  and (min-width: 30em) {
  .banner-headline {
    background-image: url("../images/Headline-UB-OneQ@2x.png");
  }
}
