/* -------------------------------------------------------- *
 * 브라우저 스타일 초기화
 * -------------------------------------------------------- */
body {
	margin: 1.5rem 0; /* 외부 여백 공간을 제거: 0px */
}

/* -------------------------------------------------------- *
 * 레이아웃
 * -------------------------------------------------------- */
body {
	/* 문서 가로 폭 */
	width: 60%;
	/* 화면 가운데 배치를 위한 외부 여백 공간 배분 */
	margin-left: auto;
	margin-right: auto;
}

/* 마우스가 올라간 상태 */
body:hover {
	/* 배경이미지를 사용하여 행간(leading)을 화면에 표시한다. */
	background-image: url("../images/guides/leading-27.gif");
}

/* ----------------------------------------------------------------------- *
 * 타이포그래피 시스템
 *
 * 행간 (line-height) 계산 공식
 * ceil( font-size / base-line-height ) * ( base-line-height / font-size )
 * ----------------------------------------------------------------------- */
html {
/* root element의 글자 크기 설정(base font-size)
 * 웹 브라우저 기본 글자 크기(16px) x 1.125 = 18px */
	font-size: 112.5%;
}

/* ----------------------------------------------------------------------- *
 * 제목 디자인: h1-6
 * 배율(Type Scale) x1.25
 * 1 > 1.25 > 1.56 > 1.95 > 2.44
 * */
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 1.5rem; /* 본문 글자 설정 크기(18px) × 1.5 = 27px */
}

h1, h2, h3, h4, h5, h6 {
	/* 제목 글자 색상 */
	color: #d85a53;
}

h1 {
	font-size: 2.44em;   /* 18px × 2.44 = 43.92px */
	line-height: 1.2295; /* 43.92px × 1.229508197 ≒ 54px */
}

h2 {
	font-size: 1.95em;   /* 18px × 1.95 = 35.1px */
	line-height: 1.5384; /* 35.1px × 1.538461538 ≒ 54px */
}

h3 {
	font-size: 1.56rem;  /* 18px × 1.56 = 28.08px */
	line-height: 0.9615; /* 28.08px × 0.961538462 ≒ 27px */
}

h4 {
	font-size: 1.25rem;  /* 18px × 1.25 = 22.5px */
	line-height: 1.2000; /* 22.5px × 1.2 = 27px */
}

h5 {
	font-size: 1rem;     /* 18px × 1 = 18px */
	line-height: 1.5000; /* 18px × 1.5 = 27px */
}

h6 {
	font-size: 0.8rem;      /* 18px × 0.8 = 14.4px */
	line-height: 1.8750; /* 14.4px × 1.875 = 27px */
}

/* ----------------------------------------------------------------------- *
 * 단락 디자인 */
p {
	/* 글자 색상 */
	color: #3f3d43;
	/* 글자 크기: 18px × 1 = 1rem */
	font-size: 1rem;
	/* 줄 간격(행간): 18px × 1.5 = 27px */
	line-height: 1.5000;
	/* 글자 사이 간격(자간): 글자 크기(높이)의 1/100 간격 만큼 줄임 */
	letter-spacing: -0.01em;
}
