/*! _image-hidden.css © yamoo9.net, 2016 */

/* --------------------------------------------------------------------------------- *
 * 감춤 설정: 요소 화면에서 감춤, 포커스 적용 시 노출
 * --------------------------------------------------------------------------------- */

.a11y-hidden, .visually-hidden {
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}
.a11y-hidden.focusable:active, .a11y-hidden.focusable:focus,
.visually-hidden.focusable:active, .visually-hidden.focusable:focus {
  overflow: visible;
  clip: auto;
  position: static;
  width: auto;
  height: auto;
  margin: 0;
}

/* --------------------------------------------------------------------------------- */

[hidden], .hidden {
  display: none;
  visibility: hidden;
}

.invisible {
  visibility: hidden;
}

.truncate {
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.scrollable {
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
  -webkit-overflow-scrolling: touch;
}
