/*! _setting-media.css © yamoo9.net, 2016 */

/* --------------------------------------------------------------------------------- *
 * 미디어 설정: 반응형
 * 반응형 미디어 처리(Responsive Media)
 * --------------------------------------------------------------------------------- */

.embed {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

.embed-item,.embed__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* 1:1 정사각형(Square) */
.embed-1by1,embed--1by1 {
  padding-top: 100%;
}

/* 4:3 오래된 TV, 컴퓨터 스크린(Traditional TV/computer screens) */
.embed-4by3,embed--4by3 {
  padding-top: 75%;
}

/* 3:2 클래식 35mm 필름, 디지털 포토(landscape) */
.embed-3by2,.embed--3by2 {
  padding-top: 66.6%;
}

/* 2:3 클래식 35mm 필름, 디지털 포토(portrait) */
.embed-2by3,.embed--2by3 {
  padding-top: 150%;
}

/* 1.618:1 황금 비율(Golden Ratio) */
.embed-golden,.embed--golden {
  padding-top: 61.8%;
}

/* 16:9 HD TV */
.embed-16by9,.embed--16by9 {
  padding-top: 56.25%;
}

/* 1.85:1 와이드 스크린 시네마(Common widescreen cinema) */
.embed-185by100,.embed--185by100 {
  padding-top: 54.05%;
}

/* 2.4:1 와이드 스크린 시네마(Widescreen cinema) */
.embed-24by10,.embed--24by10 {
  padding-top: 41.667%;
}

/* 3:1 파노라마 포토(Panorama photos) */
.embed-3by1,.embed--3by1 {
  padding-top: 33.3333%;
}

/* 4:1 폴리비전(Polyvision) */
.embed-4by1,.embed--4by1 {
  padding-top: 25%;
}

/* 5:1 */
.embed-5by1,.embed--5by1 {
  padding-top: 20%;
}

/* A 표준 종이 사이즈(standard paper sizes) */
.embed-iso216,.embed--iso216 {
  padding-top: 70.92%;
}
