/*! grid.css © yamoo9.net, 2016
 *
 * 그리드 시스템 설계 정리
 * 컬럼 개수: 12
 * 유닛: 110px
 * 거터 방향: 양쪽(split)
 * 거터 폭: 22px(2 * 11px)
 * 컬럼 폭: 110 - 22 = 88px
 */
.container {
  /*max-width: 1320px;  Old IE를 위한 코드 */
  max-width: 82.5rem;
  margin-left: auto;
  margin-right: auto;
}

.container.grid {
  min-height: 100vh;
  background: url("../images/guide/grid-system-11-88-11--110.png");
}

.row {
  overflow: hidden;
}

.col {
  float: left;
  margin-left: 11px;
  margin-right: 11px;
}

.col-1  { width: 88px;  }
.col-2  { width: 198px; }
.col-3  { width: 308px; }
.col-4  { width: 418px; }
.col-5  { width: 528px; }
.col-6  { width: 638px; }
.col-7  { width: 748px; }
.col-8  { width: 858px; }
.col-9  { width: 968px; }
.col-10 { width: 1078px; }
.col-11 { width: 1188px; }
.col-12 { width: 1298px; }
