/*! type.css © yamoo9.net, 2016
 *
 * Noto Sans Korean 웹폰트 사용
 * http://theeluwin.github.io/NotoSansKR-Hestia/
 */
@import url("https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css");
html {
  font-size: 100%; /* 16px */
}
body {
  font: 1rem/1.5 "Noto Sans Korean", sans-serif;
}

h1,h2,h3,h4,h5,h6,p,ul,ol,pre,table,blockquote {
  margin-top: 0;
  margin-bottom: 1.5rem;
}
h1,h2,h3,h4 {
  font-weight: 600;
}
h1 {
  font-size: 1.8125rem;
  line-height: 3rem;
}
h2 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}
h3 {
  font-size: 1.1875rem;
  line-height: 1.5rem;
}
h4 {
  font-size: 1rem;
  line-height: 1.5rem;
}
h5 {
  font-weight: 400;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.5rem;
}

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

hr {
  border: 1px solid;
  margin: -1px 0;
}

b, strong, em, small, code {
  line-height: 1;
}

sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

a {
  color: #268ED9;
}
