@charset "utf-8";

body {
  height: 100vh;
  margin: 0;
  padding: 3rem;
}

.news {
  list-style: none;
  padding-left: 0;
}

.news li {
  border-bottom: 1px dashed #B39BD6;
  padding-top: 1rem;
}

.news li:hover {
  background-color: #D3D6EA;
}

.news div {
  margin-left: 7.25rem;
}

.news h3 {
  margin-top: 0;
}

.news img {
  float: left;
  margin-right: 1rem;
}

.news .fr {
  float: right;
  margin-left: 1rem;
}
