@import url("http://fonts.googleapis.com/earlyaccess/notosanskr.css");

body {
  /*font-family: Helvetica, Arial, sans-serif;*/
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  max-width: 47.5rem;
  padding: 1.5rem;
  margin: 0 auto;
}

h1 {
  font-family: inherit;
  font-weight: 100;
  font-style: inherit;
  font-size: 1.9375rem;
  line-height: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}
h2 {
  font-family: inherit;
  font-weight: 100;
  font-style: inherit;
  font-size: 1.5625rem;
  line-height: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
h3 {
  font-family: inherit;
  font-weight: 100;
  font-style: inherit;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}
h4 {
  font-family: inherit;
  font-weight: 100;
  font-style: inherit;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}
h5 {
  font-family: inherit;
  font-weight: 500;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}

h1,h2,h3,h4,h5 {
margin-bottom: 1.5rem;
}

p, ul, ol, pre, table, blockquote {
  margin-top: 0rem;
  margin-bottom: 1.5rem;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
hr {
  border: 1px solid;
  margin: -1px 0;
}
b, strong, em, small, code {
  line-height: 1;
}
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

a {
  color: #268ED9;
}

/*

HTML 문서에 사용되는 요소는 크게 2가지로 분류된다.

1. 블록 요소
  가로 폭은 auto, 부모 만큼 늘어난다.
  높이 폭은 자식의 높이 만큼 늘어나는데 자식이 없으면 0이다.

  h1-6, p, div, ...

2. 인라인 요소
  부모와 상관없이 자식 콘텐츠의 넓이, 높이만큼만 폭을 가진다.
  별도의 공간이 없기 때문에 정렬, 들여쓰기(내어쓰기)가 수행되지 않는다.
  넓이(width), 높이(height) 설정이 안된다.
  마진의 위/아래, 패딩의 위/아래 설정이 되지 않는다.

  a, q, strong, em, b, i, s, ...

 */

/* 인용 Quotation */
q {
  display: inline-block;
}
.quot, q {
  text-indent: -0.41em;
}

.gridlover-grid body:hover {
  background-image: linear-gradient(to bottom, hsla(200, 100%, 50%, .8) 1px, transparent 1px);
  background-position: left -1px;
  background-repeat: repeat;
  background-size: 1.5rem 1.5rem;
  box-shadow: 1px 0px 0px hsla(200, 100%, 50%, .3), -1px 0px 0px hsla(200, 100%, 50%, .8);
}
