/*! grid.css © yamoo9.net, 2016
 *  %를 사용하는 그리드 시스템 (복습)
 *  RWD을 구현하는 미디어쿼리(Media Queries)를 학습하여 반응형 그리드 시스템을 구현.
 *  MeterializeCSS 프레임워크 활용 (유사한 형태의 그리드 시스템)
 */

/**
 * --------------------------------
 * CONTAINER Design
 * ----------------------------- */
.container {
  margin: 0 auto;
}
/**
 * --------------------------------
 * ROW Design
 * ----------------------------- */
.row {
  margin-bottom: 1rem;
}

.row::after {
  content: '';
  display: block;
  clear: both;
}
/**
 * --------------------------------
 * COLUMN Design
 * COLUMNS: 12
 * ----------------------------- */
.col {
  float: left;
  box-sizing: border-box;
}
.container.show-gutter .gutter {
  /*배경색을 content-box까지만 사용하도록 설정*/
  background-clip: content-box;
}

/**
 * --------------------------------
 * SCREEN SIZE: Small
 * .s1 ~ .s12
.s1  { width: 100/12 * 1;  }
.s2  { width: 100/12 * 2;  }
.s3  { width: 100/12 * 3;  }
.s4  { width: 100/12 * 4;  }
.s5  { width: 100/12 * 5;  }
.s6  { width: 100/12 * 6;  }
.s7  { width: 100/12 * 7;  }
.s8  { width: 100/12 * 8;  }
.s9  { width: 100/12 * 9;  }
.s10 { width: 100/12 * 10; }
.s11 { width: 100/12 * 11; }
.s12 { width: 100/12 * 12; }
 */

/* 중단점(Breakpoint) 디자인(설계) */
.s1  { width: 8.33%;  }
.s2  { width: 16.66%; }
.s3  { width: 25%;    }
.s4  { width: 33.33%; }
.s5  { width: 41.66%; }
.s6  { width: 50%;    }
.s7  { width: 58.33%; }
.s8  { width: 66.66%; }
.s9  { width: 75%;    }
.s10 { width: 83.33%; }
.s11 { width: 91.66%; }
.s12 { width: 100%;   }

.s-hidden { display: none; }
.m-hidden, .l-hidden { display: block; }

/**
 * --------------------------------
 * SCREEN SIZE: Medium
 * .m1 ~ .m12
 */
@media screen and (min-width: 800px) and (max-width: 1199px) {
  .container {
    max-width: 1100px;
  }
  .m1  { width: 8.33%;  }
  .m2  { width: 16.66%; }
  .m3  { width: 25%;    }
  .m4  { width: 33.33%; }
  .m5  { width: 41.66%; }
  .m6  { width: 50%;    }
  .m7  { width: 58.33%; }
  .m8  { width: 66.66%; }
  .m9  { width: 75%;    }
  .m10 { width: 83.33%; }
  .m11 { width: 91.66%; }
  .m12 { width: 100%;   }

  .m-push1  { margin-left: 8.33%;  }
  .m-push2  { margin-left: 16.66%; }
  .m-push3  { margin-left: 25%;    }
  .m-push4  { margin-left: 33.33%; }
  .m-push5  { margin-left: 41.66%; }
  .m-push6  { margin-left: 50%;    }
  .m-push7  { margin-left: 58.33%; }
  .m-push8  { margin-left: 66.66%; }
  .m-push9  { margin-left: 75%;    }
  .m-push10 { margin-left: 83.33%; }
  .m-push11 { margin-left: 91.66%; }
  .m-push12 { margin-left: 100%;   }

  .m-pull1  { margin-left: -8.33%;  }
  .m-pull2  { margin-left: -16.66%; }
  .m-pull3  { margin-left: -25%;    }
  .m-pull4  { margin-left: -33.33%; }
  .m-pull5  { margin-left: -41.66%; }
  .m-pull6  { margin-left: -50%;    }
  .m-pull7  { margin-left: -58.33%; }
  .m-pull8  { margin-left: -66.66%; }
  .m-pull9  { margin-left: -75%;    }
  .m-pull10 { margin-left: -83.33%; }
  .m-pull11 { margin-left: -91.66%; }
  .m-pull12 { margin-left: -100%;   }

  .s-hidden, .l-hidden { display: block; }
  .m-hidden { display: none; }
}


/**
 * --------------------------------
 * SCREEN SIZE: Large
 * .l1 ~ .l12
 */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .l1  { width: 8.33%;  }
  .l2  { width: 16.66%; }
  .l3  { width: 25%;    }
  .l4  { width: 33.33%; }
  .l5  { width: 41.66%; }
  .l6  { width: 50%;    }
  .l7  { width: 58.33%; }
  .l8  { width: 66.66%; }
  .l9  { width: 75%;    }
  .l10 { width: 83.33%; }
  .l11 { width: 91.66%; }
  .l12 { width: 100%;   }

  .l-push1  { margin-left: 8.33%;  }
  .l-push2  { margin-left: 16.66%; }
  .l-push3  { margin-left: 25%;    }
  .l-push4  { margin-left: 33.33%; }
  .l-push5  { margin-left: 41.66%; }
  .l-push6  { margin-left: 50%;    }
  .l-push7  { margin-left: 58.33%; }
  .l-push8  { margin-left: 66.66%; }
  .l-push9  { margin-left: 75%;    }
  .l-push10 { margin-left: 83.33%; }
  .l-push11 { margin-left: 91.66%; }
  .l-push12 { margin-left: 100%;   }

  .l-pull1  { margin-left: -8.33%;  }
  .l-pull2  { margin-left: -16.66%; }
  .l-pull3  { margin-left: -25%;    }
  .l-pull4  { margin-left: -33.33%; }
  .l-pull5  { margin-left: -41.66%; }
  .l-pull6  { margin-left: -50%;    }
  .l-pull7  { margin-left: -58.33%; }
  .l-pull8  { margin-left: -66.66%; }
  .l-pull9  { margin-left: -75%;    }
  .l-pull10 { margin-left: -83.33%; }
  .l-pull11 { margin-left: -91.66%; }
  .l-pull12 { margin-left: -100%;   }

  .s-hidden, .m-hidden { display: block; }
  .l-hidden { display: none; }
}

/**
 * --------------------------------
 * GUTTER Design
 * ----------------------------- */
.gutter {
  padding-left: 1rem;
  padding-right: 1rem;
}
