/*! grid/rwd-grid.css © yamoo9.net, 2016 */

/* ------------------------------------------------

 중단점 설계 (Design Breakpoint)
 1(2), 2(3), 3(4)

 mobile  0    ~ 767
 tablet  768  ~ 1180
 desktop 1181 ~ 1600

 중단점 프리픽스 설계 (Design Prefix for Breakpoint)
 s - m - l (o)
 m - t - d ( )

------------------------------------------------ */

/* show-grid module */
.show-grid {
  background-image: linear-gradient(transparent 9px, #c1c1c1 9px);
  background-size: 1px 10px;
}
.show-grid .container {
  position: relative;
  /*overflow: hidden;*/
}
.show-grid .container:before {
  content: '';
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
}
.show-grid .container:before {
  min-height: 100vh;
  opacity: 0.3;
  background-image: linear-gradient(90deg, #fec1c5 50%, #f0727c 50%);
  background-size: calc(100%/2) 1px;
}
@media only screen and (min-width: 48em) and (max-width: 73.8124em) {
  .show-grid .container:before {
    background-image: linear-gradient(90deg, #fec1c5 50%, #f0727c 50%);
    background-size: calc(100%/4) 1px;
  }
}
@media only screen and (min-width: 73.8125em) {
  .show-grid .container:before {
    background-image: linear-gradient(90deg, #fec1c5 50%, #f0727c 50%);
    background-size: calc(100%/6) 1px;
  }
}


/* container module */
.container {
  margin-left: auto;
  margin-right: auto;
}
/* row(grid) module */
.row:after {
  content: '';
  display: block;
  clear: both;
}
/* column(cell) module */
.column {
  box-sizing: border-box;
  float: left;
  width: 100%;
}
/* gutter module */
.row.gutter .column,
.gutter {
  padding-left: 10px;
  padding-right: 10px;
}
.row.gutter,
.no-gutter {
  padding-left: 0;
  padding-right: 0;
}

/* ----------------
 * view module
 * ---------------- */

/* [S] mobile(4) view */
.s--1-2,
.s--2-4 { width: calc(100% * (1/2)); }
.s--1-3 { width: calc(100% * (1/3)); }
.s--2-3 { width: calc(100% * (2/3)); }
.s--1-4 { width: calc(100% * (1/4)); }
.s--3-4 { width: calc(100% * (3/4)); }

/* [M] tablet(8) view: 768px+ */
@media only screen and (min-width: 48em) {
  .m--1-2,
  .m--2-4,
  .m--3-6,
  .m--4-8 { width: calc(100% * (1/2)); }
  .m--1-3 { width: calc(100% * (1/3)); }
  .m--2-3,
  .m--2-6,
  .m--4-6 { width: calc(100% * (2/3)); }
  .m--1-4,
  .m--2-8 { width: calc(100% * (1/4)); }
  .m--3-4,
  .m--6-8 { width: calc(100% * (3/4)); }
  .m--1-5 { width: calc(100% * (1/5)); }
  .m--2-5 { width: calc(100% * (2/5)); }
  .m--3-5 { width: calc(100% * (3/5)); }
  .m--4-5 { width: calc(100% * (4/5)); }
  .m--1-6 { width: calc(100% * (1/6)); }
  .m--5-6 { width: calc(100% * (5/6)); }
  .m--1-7 { width: calc(100% * (1/7)); }
  .m--2-7 { width: calc(100% * (2/7)); }
  .m--3-7 { width: calc(100% * (3/7)); }
  .m--4-7 { width: calc(100% * (4/7)); }
  .m--5-7 { width: calc(100% * (5/7)); }
  .m--6-7 { width: calc(100% * (6/7)); }
  .m--1-8 { width: calc(100% * (1/8)); }
  .m--3-8 { width: calc(100% * (3/8)); }
  .m--5-8 { width: calc(100% * (5/8)); }
  .m--7-8 { width: calc(100% * (7/8)); }
}

/* desktop(12) view: 1181px+ */
@media only screen and (min-width: 73.8125em) {
  .l--1-2,
  .l--2-4,
  .l--3-6,
  .l--4-8,
  .l--5-10,
  .l--6-12  { width: calc(100% * (1/2));  }
  .l--1-3,
  .l--3-9,
  .l--4-12  { width: calc(100% * (1/3));  }
  .l--2-3,
  .l--2-6,
  .l--4-6,
  .l--6-9,
  .l--8-12  { width: calc(100% * (2/3));   }
  .l--1-4,
  .l--2-8,
  .l--3-12  { width: calc(100% * (1/4));   }
  .l--3-4,
  .l--6-8,
  .l--9-12  { width: calc(100% * (3/4));   }
  .l--1-5,
  .l--2-10  { width: calc(100% * (1/5));   }
  .l--2-5,
  .l--4-10  { width: calc(100% * (2/5));   }
  .l--3-5,
  .l--6-10  { width: calc(100% * (3/5));   }
  .l--4-5,
  .l--8-10  { width: calc(100% * (4/5));   }
  .l--1-6,
  .l--2-12  { width: calc(100% * (1/6));   }
  .l--5-6,
  .l--10-12 { width: calc(100% * (5/6));   }
  .l--1-7   { width: calc(100% * (1/7));   }
  .l--2-7   { width: calc(100% * (2/7));   }
  .l--3-7   { width: calc(100% * (3/7));   }
  .l--4-7   { width: calc(100% * (4/7));   }
  .l--5-7   { width: calc(100% * (5/7));   }
  .l--6-7   { width: calc(100% * (6/7));   }
  .l--1-8   { width: calc(100% * (1/8));   }
  .l--3-8   { width: calc(100% * (3/8));   }
  .l--5-8   { width: calc(100% * (5/8));   }
  .l--7-8   { width: calc(100% * (7/8));   }
  .l--1-9   { width: calc(100% * (1/9));   }
  .l--2-9   { width: calc(100% * (2/9));   }
  .l--4-9   { width: calc(100% * (4/9));   }
  .l--5-9   { width: calc(100% * (5/9));   }
  .l--7-9   { width: calc(100% * (7/9));   }
  .l--8-9   { width: calc(100% * (8/9));   }
  .l--1-10  { width: calc(100% * (1/10));  }
  .l--3-10  { width: calc(100% * (3/10));  }
  .l--7-10  { width: calc(100% * (7/10));  }
  .l--9-10  { width: calc(100% * (9/10));  }
  .l--1-11  { width: calc(100% * (1/11));  }
  .l--2-11  { width: calc(100% * (2/11));  }
  .l--3-11  { width: calc(100% * (3/11));  }
  .l--4-11  { width: calc(100% * (4/11));  }
  .l--5-11  { width: calc(100% * (5/11));  }
  .l--6-11  { width: calc(100% * (6/11));  }
  .l--7-11  { width: calc(100% * (7/11));  }
  .l--8-11  { width: calc(100% * (8/11));  }
  .l--9-11  { width: calc(100% * (9/11));  }
  .l--10-11 { width: calc(100% * (10/11)); }
  .l--1-12  { width: calc(100% * (1/12));  }
  .l--5-12  { width: calc(100% * (5/12));  }
  .l--7-12  { width: calc(100% * (7/12));  }
  .l--11-12 { width: calc(100% * (11/12)); }
}

/* ----------------
 * offset module
 * ---------------- */
/* Mobile */
@media only screen and (max-width: 48em) {

}
/* Tablet */
@media only screen and (min-width: 48em) and (max-width: 73.8124em) {

}
/* Desktop */
@media only screen and (min-width: 73.8125em) {

}

/* ----------------
 * utility module
 * ---------------- */
/* Mobile */
@media only screen and (max-width: 48em) {
  .s--hidden { display: none; }
}
/* Tablet */
@media only screen and (min-width: 48em) and (max-width: 73.8124em) {
  .m--hidden { display: none; }
}
/* Desktop */
@media only screen and (min-width: 73.8125em) {
  .l--hidden { display: none; }
}
