@charset "UTF-8";
/*! style.css © yamoo9.net, 2016 */

/**
 * ------------------------------------------
 * 오래된 브라우저 사용자에게 최신 브라우저 업데이트 알림
 * ------------------------------------------ */
.notification-for-old-browser-user {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  margin: 0;
  padding: 1em;
  background-color: #64646d;
  /*background-color: hsla(0, 0%, 19%, 0.35);*/
  color: #c6c6c8;
}

.notification-for-old-browser-user img {
  float: left;
  margin-top: -5px;
  margin-right: 10px;
  margin-left: 20px;
  vertical-align: top;
}

.notification-for-old-browser-user a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/**
 * --------------------------------
 * UB OneQ 컬러 세트
 * --------------------------------
 * #63636c
 * #85efff
 * #479dd7
 * #272d32
 * #f9f9f9
 * #4e575f
 * #4393c9
 * #54555f
 * #ebf3f9
 * #9d9fa5
 * #54545e
 * #e5e9ec
 * ----------------------------- */

/**
 * --------------------------------
 * 페이지 디자인
 * ----------------------------- */
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 100;
}

/**
 * --------------------------------
 * 헤더 디자인
 * ----------------------------- */
.page-header {
  background-color: #63636c;
}

.page-header .brand {
  margin-top: 7px;
  margin-bottom: 10px;
}

/**
 * --------------------------------
 * .navi
 * ----------------------------- */
.navi ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.navi li {
  text-align: center;
}

.navi a {
  text-decoration: none;
  color: #fafafa;
}
