@charset "UTF-8";
/*! style.css © yamoo9.net, 2016 */

/**
 * ------------------------------------------
 * 오래된 브라우저 사용자에게 최신 브라우저 업데이트 알림
 * ------------------------------------------ */
.notification-for-old-browser-user {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  margin: 0;
  padding: 1em;
  background-color: #64646d;
  /*background-color: hsla(0, 0%, 19%, 0.35);*/
  color: #c6c6c8;
}

.notification-for-old-browser-user img {
  float: left;
  margin-top: -5px;
  margin-right: 10px;
  margin-left: 20px;
  vertical-align: top;
}

.notification-for-old-browser-user a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.demo-bg {
  min-height: 100vh;
  background: #ffd219 url("../images/demo-bg.jpg") no-repeat center top;
  background-size: cover;
}
