/* html 요소는 root element */
html {
    font-size: 10px;
}

body {
    margin: 0;
    /* 상속되는 속성: 부모 -> 자식 */
    font-size: 1.6rem;
    font-family: "Spoqa Han Sans";
    line-height: 1.5;
    letter-spacing: -0.015em;
    color: #010101;
}
body:hover {
    /* 가이드라인(Baseline) */
    background: url("../images/leading-24px.png");
}

/* 페이지 요소를 담을 컨테이너 */
.container {
    /*width: 1100px;*/
    width: 80%;
    height: 100vh;
    margin-top: 2.4rem;
    margin-left: auto;
    margin-right: auto;
    /*background-color: rgba(221, 221, 221, 0.3);*/
}

/** ------------------------------------------------------
 * 타이포그래피 디자인
 */

/* 본문(단락) 디자인 */
p {
    margin-top: 0;
    margin-bottom: 1.5em;
}

/* 제목 디자인: Type Scale x1.25 */
/* 공통설정: Grouping */
h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 2.4rem;
    letter-spacing: -0.07em;
}
h1,h2,h3,h4 {
    font-weight: 300;
}
/* 개별 설정 */
h1 { 
    font-size: 6.104rem; 
    line-height: 7.2rem; 
}
h2 { 
    font-size: 4.883rem; 
    line-height: 4.8rem; 
}
h3 { 
    font-size: 3.906rem; 
    line-height: 4.8rem; 
}
h4 { 
    font-size: 3.125rem; 
    line-height: 4.8rem; 
}
h5 { 
    font-size: 2.5rem; 
    line-height: 2.4rem; 
}
h6 { 
    font-size: 2rem; 
    line-height: 2.4rem; 
}