body {
  margin: 0;
  background: #20212f;
}

.s-and-n-banner {
  display: block;
  width: 800px;
  height: 320px;
  /* 다중 배경 이미지 적용 기술 */
  background:
    url('../images/banner/s&n-logo.png') no-repeat,
    url('../images/banner/kingkong.png') no-repeat,
    url('../images/banner/golliras.png') no-repeat,
    url('../images/banner/apes.png') no-repeat,
    url('../images/banner/BG.png') no-repeat;

  background-position:
    18px 18px,
    491px 28px,
    11px 110px,
    4px 169px,
    0 0;
}

a.s-and-n-banner {
  text-decoration: none;
}

.s-and-n-banner .banner-text::selection {
  background: #44333d;
  color: #d198a7;
  text-shadow: none;
}

.s-and-n-banner .banner-text {
  position: relative;
  top: 29px;
  left: 123px;
  display: block;
  width: 310px;
  color: #fff;
  font-size: 33.79px;
  line-height: 1.01;
  font-family: "Helvetica Neue", Arial, Verdana, Sans-Serif;
  font-style: italic;
  font-weight: 400;
  text-shadow: 0 0 4px hsla(0, 0%, 0%, 0.6);
}

.center-pos {
  position: fixed;
  top: 50%;
  left: 50%;
  /* IE 9+ */
  transform: translate(-50%, -50%);
}

.center-pos-x {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

.center-pos-y {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}
